{% extends 'Paths/base.html' %}
{% load static %}

{% block content %}

<ul id="original-dots" style="display: none;">
  {% for dot in dots %}
  <li>
    <div>{{ dot.row }}</div>
    <div>{{ dot.col }}</div>
    <div>{{ dot.color }}</div>
  </li>
  {% endfor %}
</ul>

<ul id="points" style="display: none;">
  {% for point in points %}
  <li>
    <div>{{ point.row }}</div>
    <div>{{ point.col }}</div>
    <div>{{ point.color }}</div>
  </li>
  {% endfor %}
</ul>

<script src="{% static 'Paths/board.js' %}?v={{ now }}"></script>

<span id="cols" style="display:none">{{ cols }}</span>
<span id="rows" style="display:none">{{ rows }}</span>

<div style="display: flex; gap: 20px">
  <div id="board-container">
    <table id="board-table">
    </table>
  </div>
</div>

<svg id="svg" width="100%" height="100%"
  style="position: absolute; top: 0; left: 0; pointer-events: none;">
  <polyline points=""style="fill:none; stroke:red; stroke-width:3;" />
</svg>

<hr style="margin-top: 30px;">
<h3>Dodaj nowy punkt na koniec</h3>
<form method="post">
  {% csrf_token %}
  {{ point_form.as_p }}
  <button type="submit">Dodaj Punkt</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    build_table();
    add_previous_points();


  });
</script>

{% endblock %}